@{
    ViewData["Title"] = "Bowling Information";
}

<h1>@ViewData["Title"]</h1>

<h2>Please refer to this page for our upcoming training nights.</h2>
<br/>

<p>We will be meeting at <a href="https://techcitybowl.com/" class="button">TechCity Bowl</a> in Kirkland Monday, Wednesday, and Friday.</p>
<br/>
<p>As long as INTEX doesn't permanently destroy our morale and will to eat, we will continue to bowl throughout the summer.</p>
<br/>
<p>Please practice your curveball before each practice. Larry, you know I'm talking about you. And, no, Wii Sports doesn't count.</p>
